<div class="widget widget_hot">
    <h3>热门文章</h3>
    <script id="hotarticle">
        $(function (){
            $.get("{:U('index/hotarticle')}", function (data){
                var ul = '<ul>';
                $.each(data, function (k, v){
                    var str = '<li><a href="'+ v.url +'">';
                    str += '<span class="thumbnail">\n' +
                        '       <img class="thumb" data-original="__PUBLIC__/static/images/excerpt.jpg" src="__PUBLIC__/static/images/occupying.png" alt="">\n' +
                        '   </span><span class="text">' + v.title + '</span>\n' +
                        '   <span class="muted"><i class="glyphicon glyphicon-time"></i> ' + v.utime + ' </span>\n' +
                        '   <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> '+ v.visit +'</span>';
                    str += '</a></li>';
                    ul += str;
                });
                ul += '</ul>';
                $('.widget.widget_hot').append(ul);
                try{
                    window.loadImg();
                }catch(e){
                    console.log('不正常。', e);
                }
                $('#hotarticle').remove();
            });
        });
    </script>
</div>