<extend name="Layout:index" />

<block name="content">
    <div class="pd-20">
        <form class="Huiform" id="loginform" action="" method="post">
            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th colspan="2">修改密码</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="text-r" width="30%">管理员密码：</th>
                    <td><input name="oldpassword" id="oldpassword" class="input-text" type="password" autocomplete="off" placeholder="密码" tabindex="1" datatype="*6-16" nullmsg="请输入旧密码！" errormsg="4~16个字符，区分大小写！">
                    </td>
                </tr>
                <tr>
                    <th class="text-r">新密码：</th>
                    <td><input name="newpassword" id="newpassword" class="input-text" type="password" autocomplete="off" placeholder="设置密码" tabindex="2" datatype="*6-16"  nullmsg="请输入您的新密码！" errormsg="4~16个字符，区分大小写！" >
                    </td>
                </tr>
                <tr>
                    <th class="text-r">再次输入新密码：</th>
                    <td><input name="newpassword2" id="newpassword2" class="input-text" type="password" autocomplete="off" placeholder="确认新密码" tabindex="3" datatype="*" recheck="newpassword" nullmsg="请再输入一次新密码！" errormsg="您两次输入的新密码不一致！">
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button type="submit" class="btn btn-success radius" id="admin-password-save" name="admin-password-save"><i class="icon-ok"></i> 确定</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</block>

<block name="js">
    <script type="text/javascript">
        $(".Huiform").validate({
            rules:{
                oldpassword:{
                    required:true
                    minlength:4,
                    maxlength:18
                },
                newpassword:{
                    required:true,
                    minlength:4,
                    maxlength:18
                },
                newpassword2:{
                    required:true
                    minlength:4,
                    maxlength:18
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "{:U('admin/member/pass')}?name={$name}" ,
                    success: function(data){
                        if(data.status){
                            layer.msg(data.msg,{icon:2,time:2000});
                        }else{
                            layer.msg(data.msg,{icon:1,time:2000});
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.$('.btn-refresh').click();
                            parent.layer.close(index);
                        }
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!网络出错了，重新试试。',{icon:1,time:2000});
                    }
                });
            }
        });
    </script>
</block>
