<extend name="Layout:index" />

<block name="content">
    <div class="cl pd-20" style=" background-color:#5bacb6">
        <img class="avatar size-XL l" src="//{:isset($data['face']) ? C('HOME_USER_FACE_PATH').$data['face'] : C('HOME_USER_FACE_PATH').'default.gif'}">
        <dl style="margin-left:80px; color:#fff">
            <dt>
                <span class="f-18">{$data['username']}</span>
                <span class="pl-10 f-12">余额：99999</span>
            </dt>
            <dd class="pt-10 f-12" style="margin-left:0">{$data['description'] ? $data['description'] : C('DESCRIPTION')}</dd>
        </dl>
    </div>
    <div class="pd-20">
        <table class="table">
            <tbody>
            <tr>
                <th class="text-r" width="80">性别：</th>
                <td>{:C('SEX')[$data['sex']]}</td>
            </tr>
            <tr>
                <th class="text-r">手机：</th>
                <td>{$data['phone']}</td>
            </tr>
            <tr>
                <th class="text-r">邮箱：</th>
                <td>{$data['email']}</td>
            </tr>
            <tr>
                <th class="text-r">地址：</th>
                <td>{$data['addr']}</td>
            </tr>
            <tr>
                <th class="text-r">注册ip：</th>
                <td>{$data['cip']}</td>
            </tr>
            <tr>
                <th class="text-r">注册时间：</th>
                <td>{$data['ctime']|date='Y-m-d H:i:s',###}</td>
            </tr>
            <tr>
                <th class="text-r">最后登陆ip：</th>
                <td>{$data['lastip'] ? $data['lastip'] : 没有登陆过}</td>
            </tr>
            <tr>
                <th class="text-r">最后登陆时间：</th>
                <td>{$data['lasttime'] ? date('Y-m-d H:i:s',$data['lasttime']) : 没有登陆过}</td>
            </tr>
            <tr>
                <th class="text-r">积分：</th>
                <td>999999</td>
            </tr>
            </tbody>
        </table>
    </div>
</block>
